.offcanvas-body ul {
    list-style: none;
}

.offcanvas-body ul li {
    display: block;
}

.offcanvas-body ul li a {
    display: block;
    text-decoration: none;
    font-size: 20px;
    margin-bottom: 17px;
    margin-left: 20%;
}

div#offcanvasRight {
    height: 406px;
    width: 500px;
}

.photo {
    width: 100%;
    height: 100%;
}

h5#offcanvasRightLabel {
    margin-left: 13%;
}

button.btn {
    width: 11%;
    padding: 0 0;
    height: 91%;
    margin-left: 318px;
}

.h-der {
    background-color: rgba(0, 0, 0, .1);
}

.navbar-brand {
    margin-left: 105px;
}


/* carousel */

.carousel-item img {
    height: 600px;
}

div#carouselExampleIndicators {
    width: 102%;
    margin-left: -12px;
}


/* progress */

.p-bar {
    margin-top: 30px;
}

.progress {
    margin-bottom: 20px;
}

.carousel-inner {
    position: relative;
}

.load-btn {
    position: absolute;
    top: 50%;
    left: 40%;
    right: 0;
    bottom: 0;
    margin: auto;
}


/* card */

.card-body {
    background-image: url(img/form\ img.jpeg);
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    color: #fff;
    z-index: 1;
    height: 300px;
}

.card-title {
    margin-top: 126px;
}

.card-body::after {
    content: "";
    background: rgba(0, 0, 0, .4);
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}

.card-header,
.card-footer {
    font-size: 25px;
    background: rgba(0, 0, 0, .2);
}


/* collaps */

.p-tag {
    margin-top: 26px;
    text-align: center;
}

.gradient {
    background: rgb(32, 7, 16);
    background: radial-gradient(circle, rgba(32, 7, 16, 1) 3%, rgba(190, 71, 116, 1) 16%, rgba(184, 246, 195, 1) 30%, rgba(192, 230, 35, 1) 43%, rgba(126, 51, 146, 1) 53%, rgba(150, 32, 45, 1) 62%, rgba(45, 85, 8, 1) 70%, rgba(92, 31, 63, 1) 77%, rgba(46, 32, 119, 1) 90%, rgba(141, 137, 144, 1) 96%, rgba(0, 212, 255, 1) 100%);
    height: 100%;
    width: 100%;
}


/* footer */

.footer {
    font-size: 20px;
}